body {
  margin: 0;
  padding: 0;

  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-size: 30vw;
  color: white;
  font-family: monospace;
  text-shadow: 0px 0px 5px white;
}
